html,
body {
  height: 100%;
  margin: 0;
}

.wrap {
  background-color: #0e1a2a;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration-line: none;
  font-weight: bolder;
  font-size: 24px;
  background: linear-gradient(90deg, #ffb26b, #f97316);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
}

.logoimg {
  width: 56px;
  margin-right: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-right: 10px;
}

button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  padding: 10px 18px;
  margin: 5px;
  font-size: 20px;
  background-color: #f97316;
}

.container {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;  
}

.regForm {
  width: 80%;
  height: 100%;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 15px;
  /* box-shadow: 5px 5px 10px #ccc; */
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
}

h1 {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

input {
  margin-top: 10px;
  border-radius: 5px;
}

label {
  margin-bottom: -5px;
}

.checkbox {
  display: inline-block;
  align-items: center;
}
input[ type="checkbox"] {
  width: fit-content;
  margin-left: 3px;
} 
#taxIdCheckbox {
  margin-left: auto;
}

.inputGroup {
  display: inline-flex;
  position: relative;
}

.inputGroup input {
  width: 100%;
}

.inputGroupImg {
  position: absolute;
  right: 5px;
  top: 30%;
}

input:focus {
  background-color: #C4E1E1;
}

#eyeIcon {
  cursor: pointer;
  width: 24px;
}

input[type="button"] {
  background-color: #27ae60;
  border: 2px solid #fff;
  border-radius: 15px;
  color: #fff;
  font-weight: bolder;
  font-size: larger;
  padding: 5px;
  cursor: pointer;
}

input[type="button"]:disabled {
  background-color: #ccc;   
  border-color: #aaa;      
  color: #666;             
  cursor: not-allowed;      
}

.help {
  display: inline-flex;
  justify-content: center;
}

.note {
  color: gray;
  font-size: 12px;
  text-align: center;
}

.footer {
  text-align: center;
  margin-top: 10px;
  color: #ccc;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  width: 300px;
}