
.editBtn {
    display: block;
    margin-left: auto;
    justify-content: end;
    background-color: #3498db;
}
.endEdit {
    /* display: block; */
    /* 用js控制 */
    text-align: center;
    display: none;
    margin-top: 10px;
    justify-content: space-around;
    width: 100%;
}


