
.passwdBtn {
    background-color: #3498db;
    font-weight: bold;
    padding:8px 14px;
    margin-top:-5px;
}
.endEdit {
    display: flex;
    text-align: center;
    margin-top: 10px;
    gap: 20px;
    justify-content: right;
    width: 100%;
}
